# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

dist
*.zip
*.rar
node_modules
examples
!examples/*/src/demo
!examples/*/dist/demo
npm-debug.log
*.log
.DS_Store
*.DS_Store
